* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.signin {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg2.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin .signin__wrapper {
  color: #ffffff;
  background-color: #0e2546;
  max-width: 360px;
  margin: 0 auto;
  padding: 40px 32px 30px;
  text-align: center;
}

.signin .signin__wrapper .signin__logo {
  width: 209px;
  margin-bottom: 90px;
  cursor: pointer;
}

.signin .signin__wrapper .btn__facebook, .signin .signin__wrapper .btn__zalo, .signin .signin__wrapper .btn__google {
  width: 100%;
}
/*# sourceMappingURL=booking.css.map */