* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}

.header .nav_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 -16px;
  margin: 0 16px;
}

.header .nav_header .header_logo {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .header_content {
  padding: 10px;
}

.header .header_content a {
  color: #000000;
  text-decoration: none;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.header .header_content :hover {
  color: #fb3f24;
}

.header .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 10px;
}

.header .header_right .account {
  padding-right: 11px;
}

.header .header_right .account a {
  color: #9b9b9b;
  font-size: 13px;
  text-decoration: none;
}

.header .header_right .account a .txtLogin {
  float: right;
}

.header .header_right .account .btnLogin {
  width: auto;
  height: 30px;
  border-radius: 25px;
  margin-right: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .header_right .selectLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header_right .selectLocation .place-header {
  width: auto;
  height: 20px;
  margin-right: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .header_right .selectLocation .selectMenu {
  color: #9b9b9b;
  font-size: 13px;
}

.header .header_right .selectLocation .dropdown-menu li :hover {
  background-color: #9aa8ad;
  color: #ffffff;
}
/*# sourceMappingURL=header.css.map */