* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.homeTool {
  max-width: 940px;
  height: 80px;
  margin: auto;
  border-radius: 5px;
  border: 0.3px solid #c5c5c5;
}

.homeTool .homeTool_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 15px;
}

.homeTool .homeTool_container .selectMovie,
.homeTool .homeTool_container .selectCinema,
.homeTool .homeTool_container .selectDate,
.homeTool .homeTool_container .selectSession {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  padding: 8px;
}

.homeTool .homeTool_container .button {
  width: 100%;
}

.homeTool .homeTool_container .button .btn__buy {
  color: #fff;
  background-color: green;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 400;
}
/*# sourceMappingURL=hometool.css.map */
