* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}

.header .nav_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 -16px;
  margin: 0 16px;
}

.header .nav_header .header_logo {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .header_content {
  padding: 10px;
}

.header .header_content a {
  color: #000000;
  text-decoration: none;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.header .header_content :hover {
  color: #fb3f24;
}

.header .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 10px;
}

.header .header_right .account {
  padding-right: 11px;
}

.header .header_right .account a {
  color: #9b9b9b;
  font-size: 13px;
  text-decoration: none;
}

.header .header_right .account a .txtLogin {
  float: right;
}

.header .header_right .account .btnLogin {
  width: auto;
  height: 30px;
  border-radius: 25px;
  margin-right: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .header_right .selectLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header_right .selectLocation .place-header {
  width: auto;
  height: 20px;
  margin-right: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .header_right .selectLocation .selectMenu {
  color: #9b9b9b;
  font-size: 13px;
}

.header .header_right .selectLocation .dropdown-menu li :hover {
  background-color: #9aa8ad;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.homeTool {
  max-width: 940px;
  height: 80px;
  margin: auto;
  border-radius: 5px;
  border: 0.3px solid #c5c5c5;
  position: relative;
  background-color: #fff;
  bottom: 45px;
  left: 50px;
}

.homeTool .homeTool_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px;
}

.homeTool .homeTool_container .selectMovie, .homeTool .homeTool_container .selectCinema, .homeTool .homeTool_container .selectDate, .homeTool .homeTool_container .selectSession {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  padding: 8px;
  cursor: pointer;
}

.homeTool .homeTool_container .button {
  width: 100%;
}

.homeTool .homeTool_container .button .btn__buy {
  color: #fff;
  background-color: #4a4a4a;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.newmovie .nav_newmovie .nav_item {
  list-style: none;
}

.newmovie .nav_newmovie .nav_item a {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  padding: 5px;
  font-weight: 500;
  margin: 40px;
}

.newmovie .nav_newmovie .nav_item :hover {
  color: #fb3f24;
  font-size: 24px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.newmovie .container .item {
  cursor: pointer;
}

.newmovie .container .item .content {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding: 0 -10px;
  margin: 0 10px;
}

.newmovie .container .item .content img {
  width: 100%;
}

.newmovie .container .item .content h5 {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.newmovie .container .item .content h5 span {
  background-color: #fb4226;
  margin-right: 10px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 5px;
}

.newmovie .container .item .content p {
  font-size: 14px;
  color: grey;
}

.newmovie .container .item .content :hover .detail {
  visibility: visible;
  opacity: 1;
}

.newmovie .container .item .content ::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

.newmovie .container .item .detail {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 5;
}

.newmovie .container .item .detail .img_detail {
  width: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.newmovie .container .item .detail button {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: #fb4226;
  font-weight: 500;
  color: #ffffff;
}
/*# sourceMappingURL=index.css.map */