@import "../helpers/variable.scss";

@mixin styleBackgroud {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    box-sizing: border-box;
}
.header {
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    .nav_header {
        display: flex;
        justify-content: space-between;
        padding: 0 -16px;
        margin: 0 16px;
        .header_logo {
            width: 50px;
            height: 50px;
            @include styleBackgroud();
        }
    }

    .header_content {
        padding: 10px;
        a {
            color: $color-text-black;
            text-decoration: none;
            margin-right: 20px;
            font-size: 14px;
            font-weight: $weight-500;
            cursor: pointer;
        }
        :hover {
            color: #fb3f24;
        }
    }
    .header_right {
        display: flex;
        justify-content: left;
        padding: 10px;
        .account {
            padding-right: 11px;
            a {
                color: #9b9b9b;
                font-size: 13px;
                text-decoration: none;
                .txtLogin {
                    float: right;
                }
            }
            .btnLogin {
                width: auto;
                height: 30px;
                border-radius: 25px;
                margin-right: 5px;
                @include styleBackgroud();
            }
        }
        .selectLocation {
            display: flex;
            .place-header {
                width: auto;
                height: 20px;
                margin-right: 5px;
                @include styleBackgroud();
            }
            .selectMenu {
                color: #9b9b9b;
                font-size: 13px;
            }
            .dropdown-menu {
                li {
                    :hover {
                        background-color: $color-background;
                        color: $color-text-white;
                    }
                }
            }
        }
    }
}
