@import "../helpers/variable.scss";

.homeTool {
    max-width: 940px;
    height: 80px;
    margin: auto;
    border-radius: 5px;
    border: 0.3px solid $color-text-grey;
    position: relative;
    background-color: #fff;
    bottom: 45px;
    left: 50px;

    .homeTool_container {
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
        .selectMovie {
            width: 100%;
            font-size: 18px;
            font-weight: $weight-400;
            color: $color-text-black;
            padding: 8px;
            cursor: pointer;
        }
        .selectCinema {
            @extend .selectMovie;
        }

        .selectDate {
            @extend .selectMovie;
        }

        .selectSession {
            @extend .selectMovie;
        }
        .button {
            width: 100%;
            .btn__buy {
                color: #fff;
                background-color: #4a4a4a;
                border-radius: 4px;
                text-transform: uppercase;
                padding: 10px 25px;
                font-size: 18px;
                font-weight: $weight-400;
            }
        }
    }
}
