@import "../helpers/variable.scss";

.newmovie {
    .nav_newmovie {
        .nav_item {
            list-style: none;
            a {
                text-decoration: none;
                font-size: 20px;
                color: $color-text-black;
                padding: 5px;
                font-weight: $weight-500;
                margin: 40px;
            }
            :hover {
                color: $color-text-red;
                font-size: 24px;
                transition: all 0.5s;
            }
        }
    }

    .container {
        .item {
            cursor: pointer;
            .content {
                border-radius: 5px;
                overflow: hidden;
                position: relative;
                padding: 0 -10px;
                margin: 0 10px;
                img {
                    width: 100%;
                }
                h5 {
                    padding-top: 10px;
                    font-size: 18px;
                    font-weight: $weight-500;
                    span {
                        background-color: $color-button-red;

                        margin-right: 10px;
                        font-weight: $weight-500;
                        color: $color-text-white;
                        border-radius: 5px;
                    }
                }
                p {
                    font-size: 14px;
                    color: grey;
                }
                :hover {
                    .detail {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                ::after {
                    content: "";
                    width: 0;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: -100%;
                    transition: all 0.4s;
                    opacity: 0;
                }
            }

            .detail {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                visibility: hidden;
                opacity: 0;
                transition: all 0.4s;
                z-index: 5;
                .img_detail {
                    width: 50px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                button {
                    width: 100%;
                    height: 40px;
                    border-radius: 4px;
                    border: 1px solid #fff;
                    background-color: $color-button-red;
                    font-weight: $weight-500;
                    color: $color-text-white;
                }
            }
        }
    }
}
