@import "../helpers/variable.scss";

.signin {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/bg2.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    .signin__wrapper {
        color: $color-text-white;
        background-color: #0e2546;
        max-width: 360px;
        margin: 0 auto;
        padding: 40px 32px 30px;
        text-align: center;
        .signin__logo {
            width: 209px;
            margin-bottom: 90px;
            cursor: pointer;
        }
        .btn__facebook {
            width: 100%;
        }
        .btn__zalo {
            @extend .btn__facebook;
        }
        .btn__google {
            @extend .btn__facebook;
        }
    }
}
