* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//----------- style Layouts -------------
$color-primary: #ffffff;
$color-second: #222222;

$color-button-red: #fb4226;
$color-button-grey: #4a4a4a;

$color-text-black: #000000;
$color-text-grey: #c5c5c5;
$color-text-white: #ffffff;
$color-text-red: #fb3f24;
$color-background: #9aa8ad;

$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
